section.about
    .about__container.container
        .row.about__row
            .col.col-xs-12.col-md-4
                h3.about__title.title.title--sm About Us
                p.about__text.text Go&nbsp;hiking in&nbsp;Norway and discover why the locals can&rsquo;t get enough of&nbsp;nature. Our most scenic landscapes are definitely best enjoyed on&nbsp;foot.
                +button("Read More", "#", "primary", "md", "about__btn")
            .col.col-xs-12.full.col-md-4
                +image('/about-1.jpg', 340, 340, 'about__image')
            .col.col-xs-12.full.col-md-4
                +image('/about-2.jpg', 340, 340, 'about__image')