@use "sass:math";
@import "variables";

$columns: 12;

.row {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: var(--gutter);
}

.col,
[class^='col-'] {
  position: relative;
  width: 100%;
  padding-inline: 9px;

  &.full {
    padding: 0;
  }
}

@each $size in map-keys($breakpoints) {
  @media (min-width: map_get($breakpoints, $size)) {
    @for $i from 1 through $columns {
      .col-#{$size}-#{$i} {
        grid-column: span $i;
      }
    }
  }
}