html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  @include sm-block {
    --container: 540px;
  }

  @include md-block {
    --container: 720px;
  }

  @include lg-block {
    --container: 940px;
  }

  @include xl-block {
    --container: 1140px;
  }

  @include xxl-block {
    --container: calc(1140px + var(--gutter) * 2);
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-black);
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
