html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-white);
  background-color: var(--color-black);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container);
}