$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Fonts */
  --font-size-base: 16px;
  --font-family: 'Open Sans', 'Roboto', sans-serif;

  /* Grid */
  --container: 340px;
  --columns: 12;
  --gutter: 20px;
}